In [1]:
from pandas import DataFrame, read_csv

In [102]:
import pandas as pd
read_csv?
#'/home/hackspot/Desktop//rahul/ML-Series/Session-2/Assignments/Assignment-2B/Data/test.csv'
df = pd.read_csv('/home/hackspot/Desktop/rahul/ML-Series/Session-2/Assignments/Assignment-2B/Data/train.csv')

In [114]:
"""Survival Rate of different classes"""
m1 = df['Name'][df['Survived'] == 1][ df['Pclass'] == 1].count()
n1 = df['Name'][ df['Pclass'] == 1].count()
m2 = df['Name'][df['Survived'] == 1][ df['Pclass'] == 2].count()
n2 = df['Name'][ df['Pclass'] == 2].count()
m3 = df['Name'][df['Survived'] == 1][ df['Pclass'] == 3].count()
n3 = df['Name'][ df['Pclass'] == 3].count()
print(float(m1)/n1 , float(m2)/n2 , float(m3)/n3)
#df1 = pd.DataFrame(df[df['Survived'] == 1][ df['Pclass'] == 1])

(0.6296296296296297, 0.47282608695652173, 0.24236252545824846)

In [92]:
"""Details of passengers who paid most money"""
df[df['Fare']==df['Fare'].max()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35,0,0,PC 17755,512.3292,B101,C

In [110]:
d = df[0:0]
miss = [1,2,3,4,5,6,7,8,9,0]
#d = d.append(miss)